@import url('https://fonts.googleapis.com/css2? family = Nunito: wght @ 200 & display = swap');
@import url('https://fonts.googleapis.com/css2? family = Varela + Round & display = swap');
p{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #FFF;
    width: 80%;
}
h1,h2{
    font-family: 'Varela Round', sans-serif;;
}
h1{
    font-size: 105px;
    color: #FFF;
    opacity: .5;
}
h2{
    font-size: 22px;
}
body{
    background-color: #5f7285;
}
img{
    width: 20%;
    border: 2px solid #829dad;
}
